@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

/* VARIABLES */

:root {
  /* Typography */
  --text-sm : 0.875rem;
  --text-base: 1rem;
  --text-md : 1.5rem;
  --text-lg : 2rem; 
  --font-bold : 700;
  --font-semi-bold : 600;
  --font-medium : 500;
  --font-normal : 400; 
  --font-main : 'Poppins', sans-serif;

  /* COLOR */
  --color-white: #ffff;
  --color-primary: #D22F90;
  --color-text: #0D1730;

  /* MISC */
  --padding-header: .625em 0;
  --padding-base : .5em .75em;
  
  
}

/* BASE */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  border: none;
  outline: none;
}

*,
::before,
::after {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: var(--font-main);
  font-size: var(--text-base);
}

h1,
h2,
p {
  margin: 0;
}

a {
  text-decoration: none;
  color: var(--color-text);
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

/* UTILITY */
.container {
  width: 90%;
  max-width: 980px;
  margin: 0 auto;
}

.container-flex {
  display: flex;
  flex-direction: column;
}

.header-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* HEADER */
header {
  font-size: var(--text-base);
  background-color: var(--color-white);
  box-shadow: 0 3px 4px rgba(193, 205, 216, 0.15);
  padding: var(--padding-header);
}

.header__logo {
  font-weight: var(--font-bold);
}

.header__nav-list a {
  font-weight: var(--font-normal);
  font-size: var(--text-sm);
  color: var(--color-white);

}

.header ul {
  position: fixed;
  top: 0;
  bottom: 0;
  right: -100%;
  z-index: 20;
  background-color: var(--color-text);
  opacity: .95;
  line-height: 3em;
  padding: .5em 3em;
  text-align: center;
  transition: all .65s ease-out;
}

.header__nav-list a {
  color: var(--color-white);
}

#sidebar-active {
  display: none;
}
#sidebar-active:checked ~ ul {
  right: 0;
}

#sidebar-active:checked ~ .overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  z-index: 15;
}
