@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

/* VARIABLES */

:root {
  /* Typography */
  --text-sm: 0.875rem;
  --text-base: 1rem;
  --text-md: 1.5rem;
  --text-lg: 2rem;
  --font-bold: 700;
  --font-semi-bold: 600;
  --font-medium: 500;
  --font-normal: 400;
  --font-main: "Poppins", sans-serif;

  /* COLOR */
  --color-white: #ffff;
  --color-white-transparent: rgba(255,255,255,.25);
  --color-primary: #D22F90;
  --color-text: #0d1730;

  /* MISC */
  --padding-header: 0.625em 0;
  --padding-base: 0.5em 0.75em;
  --icon-size: 30px;
  --base-margin-bottom : 1.5rem;
}

@media screen and (min-width:744px) {
  :root {
    --text-sm: 1rem;
    --text-base: 1.25rem;
    --text-md: 2rem;
    --text-lg: 2.25rem;
    --icon-size: 50px;
    --base-margin-bottom: 2rem;
  }
}

@media screen and (min-width:980px) {
  :root {
    --text-sm: 1.25rem;
    --text-base: 1.5rem;
    --text-md: 2.5rem;
    --text-lg: 3rem;
    --icon-size: 64px;
    --base-margin-bottom: 2.625rem;
  }
}

/* BASE */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  border: none;
  outline: none;
}

*,
::before,
::after {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: var(--font-main);
  font-size: var(--text-base);
  padding-top: 70px;
  padding-bottom: 30px;
  height: 100vh;
}

h1,
h2,
p {
  margin: 0;
}

a {
  text-decoration: none;
  color: var(--color-text);
}

img {
  max-width: 100%;
  width: 80%;
  height: auto;
  display: block;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

@media screen and (min-width:744px) {
  body {
    padding-top: 200px;
    padding-bottom: 30px;
  }
  img {
    width: 65%;
  }
}

/* GENERIC */
h1 {
  font-size: var(--text-lg);
  color: var(--color-primary);
  font-weight: var(--font-bold);
}

h2 {
  font-size: var(--text-md);
  font-weight: var(--font-semi-bold);
}

p {
  font-size: var(--text-base);
  font-weight: var(--font-medium);
}

.button {
  font-family: var(--font-main);
  font-weight: var(--font-medium);
  font-size: var(--text-base);
  background-color: var(--color-primary);
  color: var(--color-white);
  border-radius: 50px;
  padding: var(--padding-base);
}



/* UTILITY */
.container {
  width: 90%;
  max-width: 980px;
  margin: 0 auto;
}

.container-flex {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.section__content {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

@media screen and (min-width:980px) {
  img {
    width: 40%;
  }
  .section__content {
    width: 50%;
    align-items: start;
    text-align: start;
    
  }
  .container-flex {
    flex-direction: row;
    justify-content: space-between;
    text-align: end;
  }

  .item-1 {
    order: 2;
  }

  .item-2 {
    order: 3;
  }
}

.section__title {
  font-size: var(--text-md);
  font-weight: var(--font-semi-bold);
  color: var(--color-primary);
  margin-bottom: var(--base-margin-bottom);
  border-bottom: #D22F90 solid 2px;
}


.mb-base {
  margin-bottom: var(--base-margin-bottom);

}

.mb-8 {
  margin-bottom: 2rem;
}

.mb-section {
  margin-bottom: 3rem;
}

.header-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.icon {
  width: var(--icon-size);
  height: var(--icon-size);
}

/* HEADER */
header {
  font-size: var(--text-base);
  background-color: var(--color-white-transparent);
  box-shadow: 0 3px 4px rgba(193, 205, 216, 0.15);
  padding: var(--padding-header);
  position: fixed;
  right: 0;
  left: 0;
  top: 0;

}

/* NAVIGATION LIST AND LINKS */
.header__logo {
  font-weight: var(--font-bold);
  color: var(--color-primary);
}

.header__nav-list a {
  font-weight: var(--font-normal);
  font-size: var(--text-sm);
  color: var(--color-white);
  display: block;
}

.header__nav-list a:hover {
  color: var(--color-text);
  background-color: #ffff;
}

.header__nav label {
  cursor: pointer;
}

#active-link {
  background-color: var(--color-white);
  color: var(--color-text);
  cursor: default;
}

.header ul {
  right: -100%;
  position: fixed;
}

.header__nav-list a {
  color: var(--color-white);
  transition: color 0.15s, background-color 0.15s;
}

/* SIDEBAR */
.header ul {
  top: 0;
  bottom: 0;
  z-index: 20;
  background-color: var(--color-text);
  opacity: 0.95;
  line-height: 3em;
  width: 50%;
  text-align: center;
}

#sidebar-active {
  display: none;
}

#sidebar-active:checked ~ ul {
  transition: right 0.75s ease-out;
  right: 0;
}

#sidebar-active:checked ~ .overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  z-index: 20;
}

@media screen and (min-width: 744px) {
  .header ul {
    position: relative;
    z-index: 0;
    background: none;
    opacity: 1;
    padding: 0;
    transition: all 0s;
    display: flex;
    gap: 1em;
    right: 0;
  }
  .header__nav-list a {
    color: var(--color-text);
  }

  .header label {
    display: none;
  }

  #active-link {
    position: relative; 
    background: none;
  }

  #active-link::after {
    content: ''; 
    display: block; 
    position: absolute;
    bottom: 12px; 
    left: 0; 
    width: 100%; 
    height: .5px;
    background-color: #0d1730; 
  }
}

/* HOME */
/* .home__profile {

} */
.home__h2{
  position: relative;

}

.typing::before {
  content: 'Programmer';
  animation: roles 20s infinite;
  color: var(--color-text);
}

.typing::after {
  content: "";

    position: absolute;

    height: 100%;
    
    border-left: 3px solid white;
    right: -8;
    animation: cursor 0.6s infinite;
}

.icons {
  display: flex;
  gap: 1em;
}

@keyframes cursor{
  to{
      border-left: 3px solid var(--color-text);
  }
}

@keyframes roles {
  0%, 20% {
    content: 'Student';
  }
  21%, 40% {
    content: 'Aspiring Developer';
  }
  41%, 60% {
    content: 'Aspiring Web Developer';
  }

  61%, 80% {
    content: 'Learning Enthusiast';
  }

  81%, 100% {
    content: 'Future Engineer';
  }
}


/* ABOUT ME */
.about p {
  font-size: var(--text-sm);
  font-weight: var(--font-normal);
}




@media screen and (min-width:980px) {

}

.grid {
  display: grid;
  justify-items: center;
  text-align: center;
}